.obd-pre-order-product-details-main-sec {
    margin-top: 70px;
}
.obd-pre-order-product-details-bg-bx-wrap {
    padding: 12px;
    margin-left: 30px;
    margin-right: -15px;
}
/* Product Content Text Part End */

/* Profile image name part start */
.obd-pre-order-details-profile-acc-info-box {
    box-shadow: 0 0px 5px rgba(221, 225, 238,.9);
    padding: 15px;
    border-radius: 8px;
    background-color: #fff;
    position: relative;
}
.obd-pre-order-d-profile-acc-img img {
    width: 75px;
    height: 75px;
    border-radius: 50px;
}
.obd-pre-order-d-profile-acc-prf-nm-cnnt h4 {
    font-size: 15px;
    color: #5D616D;
    font-weight: 500;
}
.obd-pre-order-d-profile-acc-prf-nm-cnnt p {
    font-size: 13px;
    color: #9A9FAD;
    margin-top: -3px;
    margin-bottom: 10px;
}
.obd-pre-order-d-profile-acc-prf-nm-cnnt p span {
    margin-right: 4px;
    font-size: 15px;
}
.obd-pre-order-d-profile-acc-prf-nm-cnnt {
    margin-top: 14px;
    margin-left: -10px;
}
/* Profile image name part end */

/* /* Profile All Order Main Start */
.obd-preorder-profile-accnt-allz-main-bbox {
    margin-top: 12px;
}
.obd-preorder-profile-accnt-allz-content-boxx {
    box-shadow: 0 0px 5px rgba(221, 225, 238,.9);
    border-radius: 8px;
    background-color: #ffffff;
}
.row.obd-preorder-profile-accnt-allz-ex-pdz .col-md-7 {
    padding-right: 0px;
}
.obd-preorder-profile-accnt-allz-content-hed h4 {
    background-color: #FAFAFA;
    font-size: 16px;
    font-weight: 500;
    color: #5D616D;
    height: 44px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    line-height: 45px;
    padding-left: 13px;
}

/* Table Box start */
.obd-preorder-profile-accnt-allz-wv-table-box {
    margin-top: 25px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table thead {
    border: none !important;
    background-color: #FAFAFA;
    color: #5D616D;
    text-transform: uppercase;
    font-size: 13px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table thead tr {
    border: none;
    border-top-right-radius: 8px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table thead tr th {
    border: none;
    font-weight: 500;
    font-size: 13px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table tbody tr td {
    color: #5D616D;
    font-weight: 400;
    font-size: 13px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table {
    border-top-right-radius: 8px;
    border: none;
}
.obd-preorder-profile-accnt-allz-wv-table-box table tbody tr td {
    border: none;
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}
.obd-preorder-profile-accnt-allz-wv-table-box table tbody tr:hover {
    background-color: #f7f7f7;
    transition: .2s;
}
.obd-preorder-profile-accnt-allz-wv-table-box tbody {
    border-top: none !important;
}
.obd-preorder-profile-accnt-allz-wv-table-box tbody tr {
    border: none;
}
.obd-preorder-profile-accnt-allz-tbl-ordr-main-box {
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
}


.row.obd-preorder-profile-accnt-allz-ttbl-eex-ppd .col-md-2 {
    padding: 0px;
    padding-left: 3px;
}
.obd-preorder-profile-accnt-snglz-img-prd img {
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    width: 100%;
}
.obd-preorder-profile-accnt-snglz-prd-prc h4 {
    font-size: 14px;
    color: #FF6347;
    font-weight: 600;
}
.obd-preorder-profile-accnt-snglz-img-prd-txxt a {
    font-size: 12px;
    color: #444750;
    margin-bottom: 5px;
    text-decoration: none;
}
.obd-preorder-profile-accnt-snglz-img-prd-txxt a:hover {
    color: #5074df;
    transition: .3s;
}
.obd-preorder-profile-accnt-allz-tbl-ordr-main-box {
    margin-top: -20px;
}

/* Whene Table Empty */
.obd-preorder-profile-accnt-content-o-empty-img img {
    width: 35%;
    margin-top: 11%;
    margin-left: -12px;
}
.obd-preorder-profile-accnt-content-o-empty-img-txt p {
    font-size: 14px;
    color: #FFCAC0;
    margin-top: 8px;
}
/* Whene Table Empty */

/* Table Box End */

/* Pagination Start */
.row.obd-bd-web-v-dashboarrd-support-ticket-pagination-section {
    margin-top: 25px;
    margin-bottom: 10px;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-box {
    background-color: #fff;
    padding: 7px;
    height: 45px;
    margin-bottom: 12px;
    border-radius: 6px;
    margin-right: -12px;
    margin-top: -6px;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul {
    list-style: none;
    margin: 0px;
    padding: 0px 4px 1px 0px;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul li {
    display: inline-block;
    margin-right: 4px;
    background-color: #F4F4F5;
    width: 32px;
    height: 32px;
    text-align: center;
    border-color: #B4BACB;
    line-height: 32px;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul li a {
    color: #5D616D;
    text-decoration: none;
    font-size: 13px;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul li:hover {
    background-color: #FF6347;
    transition: .2s;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul li:hover a {
    color: #fff;
    display: block;
    transition: .2s;
}
.orpon-bd-web-v-dashboarrd-mang-rev-pagination-section-content ul li a span {
    font-size: 12px;
    margin-left: 2px;
    margin-right: 2px;
    color: #707070;
}
li.orpon-dashboarrd-mang-rev-pagination-nextt-txt-webv {
    background-color: #EFF1F7 !important;
}
li.orpon-dashboarrd-mang-rev-pagination-nextt-txt-webv a {
    color: #fff !important;
}
li.orpon-bbd-dashboarrd-mang-rev-pagination-prevv-txt-webv:hover {
    background-color: #dcdcdc !important;
    transition: .2s;
}
li.orpon-dashboarrd-mang-rev-pagination-nextt-txt-webv:hover {
    background-color: #dcdcdc !important;
    transition: .2s;
}
/* Pagination End */

/* Right Part End ------------------------------------------ */