/* Modal */
.obd-preorder-mdl-cls-bx.modal-header {
    border-bottom: none !important;
}
/* Modal */

/* New Code start */
.obd-pre-order-product-details-topbar-menu-main-sec {
    height: 65px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}
.obd-pre-order-product-details-topbar-menu-main-sec {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 999;
}
.obd-pre-order-product-details-topbar-logo-img img {
    width: 60%;
    margin-top: 13px;
}

/* Search Box Start */
.obd-pre-order-product-details-topbar-rg-search input {
    border: none;
    background-color: #f4f4f5;
    border-radius: 6px;
    width: 300px;
    height: 38px;
    outline: none;
    padding-left: 10px;
    margin-left: 0;
    font-size: 13px;
    color: #676767;
    padding-right: 25px;
}
.obd-pre-order-product-details-topbar-rg-search input::placeholder {
    color: #918f8f;
    font-weight: 500;
}
.obd-pre-order-product-details-topbar-rg-search span button {
    border: none;
    background-color: #ff6347;
    border-radius: 6px;
    width: 36px;
    height: 37px;
    outline: none;
    font-size: 13px;
    color: #fff;
    margin-left: -28px;
}
.obd-pre-order-product-details-topbar-rg-search span button:hover {
    background-color: #f83f1f;
    transition: .3s;
}
/* Search Box End */
/* New Code End */

/* Signin Hover Start */
.obd-pre-order-product-details-topbar-right-sec ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.obd-pre-order-product-details-topbar-right-sec ul li {
    display: inline-block;
    margin-left: 28px;
}
.obd-pre-order-product-details-topbar-right-sec ul li span img {
    width: 20px;
    margin-right: 3px;
    margin-top: -5px;
}
.obd-pre-order-product-details-topbar-right-sec ul li span {
    font-size: 13px;
    color: #5D616D;
    font-weight: 500;
}
.obd-pre-order-product-details-topbar-right-sec {
    margin-top: 13px;
}
.obd-pre-order-product-details-topbar-right-sec ul li a {
    text-decoration: none;
}
.obd-pre-order-product-details-topbar-right-sec ul li span:hover {
    color: #000;
    transition: .3s;
}

/* Hover Part st */
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-sign-in {
    position: relative;
    transition: .3s;
}
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-sign-in .obd-preorder-w-v-topmenu-signin-register-sec {
    position: absolute;
    visibility: hidden;
    transition: .3s;
    width: 180px;
    height: 125px;
    z-index: 999;
    border-radius: 6px;
    right: -15px;
    top: 35px;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    background-image: linear-gradient(-0deg,#f7f7f7,#dedede);
}
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-sign-in:hover .obd-preorder-w-v-topmenu-signin-register-sec {
    visibility: visible;
    transition: .3s;
}
/* Hover Part Ed */

/* Hover Part 2 st */
li.obd-main-web-v-pre-order-topmenu-only-hamb-mnu a span {
    font-size: 18px;
    color: #6f6f6f;
}
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-hamb-mnu {
    position: relative;
    transition: .3s;
}
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-hamb-mnu .obd-preorder-w-v-topmenu-hamg-all-mnu {
    position: absolute;
    visibility: hidden;
    transition: .3s;
    width: 180px;
    height: 200px;
    z-index: 999;
    border-radius: 6px;
    right: -25px;
    top: 38px;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);
    background-image: linear-gradient(-0deg,#f7f7f7,#dedede);
}
.obd-pre-order-product-details-topbar-right-sec ul li.obd-main-web-v-pre-order-topmenu-only-hamb-mnu:hover .obd-preorder-w-v-topmenu-hamg-all-mnu {
    visibility: visible;
    transition: .3s;
}

/* Hambargar Menu */
.obd-preorder-w-v-topmenu-hamg-all-mnu.text-left {
    padding: 5px;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item ul li {
    display: block;
    margin-top: 9px;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item {
    margin-top: 10px;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item ul li a {
    text-decoration: none;
    color: #575757;
    font-size: 14px;
    font-weight: 500;
    display: block;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item ul li a:hover {
    color: #ff6347;
    transition: .3s;
}
.obd-preorder-w-v-topmenu-hamg-all-mnu-item ul li {
    margin-left: 14px;
}
/* Hambargar Menu */
/* Hover Part 2 Ed */

/* Cart Icon */
li.obd-preorder-cart-count-abb-sec img {
    width: 20px;
    position: relative;
}
li.obd-preorder-cart-count-abb-sec span {
    position: absolute;
    top: 12px;
    margin-left: -4px;
    background-color: tomato;
    color: #fff!important;
    font-size: 10px!important;
    padding: 1px;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    text-align: center;
    box-shadow: 0 1px 5px rgb(255 99 71 / 90%);
    line-height: 17px;
}
li.obd-preorder-cart-count-abb-sec {
    margin-right: 13px;
}
/* Cart Icon */




.obd-main-web-v-top-m-signin-reg-btn-sign button {
    background-color: #FF6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    width: 135px;
    height: 30px;
    outline: none;
}
.obd-main-web-v-top-m-signin-reg-btn-sign button:hover {
    background-color: #ff4d2d;
    transition: .3s;
}
.obd-main-web-v-top-m-signin-reg-btn-sign {
    margin-top: 25px;
    margin-bottom: 10px;
}
.obd-main-web-v-top-m-regs-reg-btn-reg button {
    background-color: #f5d4ce;
    color: #fd4423;
    border: 1px solid #f9765e;
    border-radius: 5px;
    font-size: 13px;
    width: 135px;
    height: 30px;
    outline: none;
}
.obd-main-web-v-top-m-regs-reg-btn-reg button:hover {
    background-color: #fcc4bb;
    transition: .3s;
}
/* Signin Hover End */

/* Signin Modal Start --------------  */
.obd-preorder-sig-reg-logo-modal-img img {
    width: 35%;
    margin-top: -20px;
    margin-bottom: 32px;
}

/* Tab Section Start */
.react-tabs__tab-list {
    border-bottom: none !important;
    margin: 0 0 10px;
    padding: 0;
}
.react-tabs__tab--selected {
    background: #FF6347 !important;
    border-color: #ff6347  !important;
    color: #fff !important;
    border-radius: 20px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    z-index: 999;
    box-shadow: 0 2px 6px rgba(255, 99, 71, .5);
    
}
.react-tabs__tab {
    display: inline-block;
    border: none;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 35px !important;
    cursor: pointer;
    background-color: #fff;
    border-radius: 20px;
    font-size: 14px;
    transition: 1s;
    margin-left: -20px;
    border: 1px solid #f3f3f3 !important;
}
li.react-tabs__tab--selected {
    padding: 6px 35px !important;
}
/* Tab Section End */

/* Login Input Field Start */
.obd-preorder-gl-main-user-login-form-main-sec {
    padding: 10px 25px 10px 25px;
}
.obd-preorder-wv-login-form-input-field input {
    border: none;
    background-color: #F4F4F5;
    border-radius: 8px;
    width: 100%;
    height: 40px;
    outline: none;
    padding: 8px;
    font-size: 13px;
    padding-left: 12px;
    border: 1px solid #e8e8e8;
}
.obd-preorder-wv-login-form-input-field input::placeholder {
    color: #8e8e8e;
}
.obd-preorder-wv-login-form-input-field {
    margin-bottom: 15px;
}
.obd-preorder-wv-login-form-input-field.snin span button {
    margin-left: -87px;
    height: 40px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #262626;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 12px;
}
.obd-preorder-wv-login-form-input-field.snin span button:hover {
    background-color: #000000;
    transition: .3s;
}
.obd-preorder-wv-login-signin-btnx button {
    background-color: #FF6347;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.obd-preorder-wv-login-signin-btnx button:hover {
    background-color: #fa4120;
    transition: .2s;
}
.obd-customer-dash-user-login-form-secx span {
    font-size: 13px;
    color: #484848;
    margin-left: 6px;
}
.obd-customer-dash-user-login-form-secx {
    position: relative;
}
.obd-customer-dash-user-login-form-secx a {
    position: absolute;
    right: 0px;
    color: #a9a9a9;
    font-size: 12px;
}
.obd-customer-dash-user-login-form-secxz span {
    font-size: 13px;
    margin-left: 7px;
}
.obd-customer-dash-user-login-form-secxz span strong {
    font-weight: 500;
    color: #616161;
}
.obd-customer-dash-user-login-form-secxz span a {
    margin-left: -4px;
    color: #339df3;
    font-weight: 500;
    text-decoration: none;
}
/* Login Input Field End */

/* Signin Modal End */