.preorder-otp-wv-main-sec-box-sec-content {
    width: 100%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 6px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 8%);
    margin-top: 4%;
}
.obd-preorder-otp-wv-box-sec-inppt input {
    border: 1px solid #f52727;
    border-radius: 8px;
    width: 38px !important;
    height: 36px;
}
.obd-preorder-otp-wv-box-sec-inppt {
    margin-left: 27%;
}
.obd-preorder-otp-wv-main-hedd-txt h3 {
    font-size: 18px;
    color: #FF6347;
    font-weight: 600;
    margin-top: 12px;
}
.obd-preorder-otp-wv-main-hedd-txt p {
    color: #8c8c8c;
    font-size: 13px;
    margin-bottom: 20px;
}
.obd-preorder-otp-wv-txt-dont-get-cod h4 {
    font-size: 13px;
    color: #757373;
}
.obd-preorder-otp-wv-txt-dont-get-cod {
    margin-top: 22px;
}
.obd-preorder-otp-wv-txt-dont-get-cod h4 span button {
    margin-left: 1px;
    border: none;
    background: none;
    color: #FF6347;
    font-weight: 600;
    outline: none;
}
.preorder-otp-wv-box-sec-conf-btn ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.preorder-otp-wv-box-sec-conf-btn ul li {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
}
.preorder-otp-wv-box-sec-conf-btn ul li button {
    background-color: #FF6347;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    padding: 4px 25px 4px 25px;
}
.preorder-otp-wv-box-sec-conf-btn ul li button:hover {
    background-color: #fd4524;
    transition: .2s;
}
.preorder-otp-wv-box-sec-conf-btn {
    margin-top: 22px;
    margin-bottom: 15px;
}
.obd-preorder-otp-wv-main-hedd-txt p span {
    color: #ff6347;
}
.preorder-otp-wv-box-sec-conf-btn ul li a {
    border: 1px solid #bbbbbb;
    color: #6f6f6f;
    border-radius: 8px;
    padding: 3px 20px 5px 20px;
    text-decoration: none;
    background-color: #f1f1f1;
    font-size: 13px;
}
.preorder-otp-wv-box-sec-conf-btn ul li a:hover {
    color: #4b4a4a;
    background-color: rgb(218, 218, 218);
    transition: .3s; 
}