.obd-profile-account-section-main-profile-section {
    margin-top: 70px;
}
.product-order-details-profile-section-right-main-box {
    box-shadow: 0 0px 5px rgba(221, 225, 238,.9);
    padding: 18px;
    border-radius: 8px;
    background-color: #fff;
    margin-left: 38px;
    margin-top: 14px;
}

/* Color Section Start */
.product-order-details-section-content-color-txtt {
    position: relative;
}
.product-order-details-section-content-color-txtt {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
}
.product-order-details-section-content-color-txtt h4 {
    color: #5D616D;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product-order-details-section-brdrrad {
    position: absolute;
    border: 2px solid #FF6347;
    width: 105px;
    bottom: -3px;
}
/* Color Section End ----------------------- */

/* Order Number And Customer Details Start */
.obd-order-d-id-and-customet-det-main-right-box {
    margin-left: 43px;
    margin-top: 18px;
    margin-right: 7px;
}
.row.obd-order-d-id-and-customet-det-ex-pdd .col-md-6 {
    padding-left: 7px;
    padding-right: 7px;
}
.obd-order-d-id-and-customet-det-left-det-box {
    background-color: #fff;
    border-radius: 8px;
    padding: 14px;
    min-height: 175px;
}
.obd-order-d-id-and-customet-det-left-det-box-inner {
    margin-bottom: 12px;
}
.obd-order-d-id-and-customet-det-left-det-box-inner {
    position: relative;
}
.obd-order-d-id-and-customet-det-left-det-box-inner h4 {
    font-size: 13px;
    color: #5d5d5d;
    font-weight: 500;
}
.obd-order-d-id-and-customet-det-left-det-box-ab h3 {
    position: absolute;
    left: 130px;
    top: -1px;
    font-size: 16px;
    font-weight: 600;
    color: #404040;
}
.obd-order-d-id-and-customet-det-left-det-box-ab h5 {
    position: absolute;
    left: 130px;
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    color: #404040;
}
.obd-order-d-id-and-customet-det-left-det-box-ab p {
    position: absolute;
    left: 130px;
    top: 0px;
    font-size: 12px;
    font-weight: 400;
    color: #868686;
    margin: 0px;
}
.obd-order-d-id-and-customet-det-left-det-box-ab h4 {
    position: absolute;
    left: 130px;
    top: -1px;
    font-size: 14px;
    font-weight: 600;
    color: #25A101;
}
.obd-order-d-id-and-customet-det-left-det-box-ab button {
    position: absolute;
    left: 130px;
    top: 35px;
    border: none;
    background-color: tomato;
    border-radius: 12px;
    font-size: 12px;
    padding: 4px 12px 4px 12px;
    color: #fff;
    font-weight: 500;
}
.obd-order-d-id-and-customet-det-left-det-box-ab button:hover {
    background-color: rgb(253, 70, 37);
    transition: .3s;
}
/* Order Number And Customer Details End */


/* Product Details Box Start */
.product-order-details-box-profile-section-right-main-box {
    margin-left: 40px;
    box-shadow: 0 0px 5px rgba(221, 225, 238,.9);
    padding: 18px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 18px;
}

/* Color Section Start */
.product-order-details-bx-section-content-color-txtt {
    position: relative;
}
.product-order-details-bx-section-content-color-txtt {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
}
.product-order-details-bx-section-content-color-txtt h4 {
    color: #5D616D;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product-order-details-bx-section-brdrrad {
    position: absolute;
    border: 2px solid #FF6347;
    width: 122px;
    bottom: -3px;
}
/* Color Section End */
/* Product Details Box End ----------------------------------*/

/* Financial Details Box Start */
.product-order-details-box-profile-section-right-main-box {
    margin-left: 40px;
    box-shadow: 0 0px 5px rgba(221, 225, 238,.9);
    padding: 18px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 18px;
}

/* Color Section Start */
.product-financial-details-bx-section-content-color-txtt {
    position: relative;
}
.product-financial-details-bx-section-content-color-txtt {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
}
.product-financial-details-bx-section-content-color-txtt h4 {
    color: #5D616D;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product-financial-details-bx-section-brdrrad {
    position: absolute;
    border: 2px solid #FF6347;
    width: 75px;
    bottom: -3px;
}
/* Color Section End */

.obd-all-preorders-order-bx-product-profile-pgg-table-top-bx {
    background-color: #D5DFFC;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: -12px;
    height: 45px;
    margin-top: 24px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-top-bx h4 {
    font-size: 14px;
    font-weight: 600;
    color: #696969;
    margin-top: 3px;
}
/* Financial Details Box End ----------------------------------*/

/* Logistics Section Start */
/* Color Section Start */
.product-logistics-details-bx-section-content-color-txtt {
    position: relative;
}
.product-logistics-details-bx-section-content-color-txtt {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
}
.product-logistics-details-bx-section-content-color-txtt h4 {
    color: #5D616D;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.product-logistics-details-bx-section-brdrrad {
    position: absolute;
    border: 2px solid #FF6347;
    width: 170px;
    bottom: -3px;
}
/* Color Section End */
/* Logistics Section End */

/* Table Box start */
.obd-all-preorders-order-bx-product-profile-pgg-table-box {
    margin-top: 25px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table thead {
    border: none !important;
    background-color: #EFF1F7;
    color: #5D616D;
    text-transform: uppercase;
    font-size: 12px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box tbody {
    border: none !important;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box tbody tr {
    border: none;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table thead tr {
    border: none;
    border-top-right-radius: 8px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table thead tr th {
    border: none;
    font-weight: 500;
    font-size: 12px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table tbody tr td {
    color: #5D616D;
    font-weight: 400;
    font-size: 12px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table {
    border-top-right-radius: 8px;
    border: none;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table tbody tr td {
    border: none;
    border-bottom: 1px solid #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
}
.obd-all-preorders-order-bx-product-profile-pgg-table-box table tbody tr:hover {
    background-color: #f7f7f7;
    transition: .2s;
}

/* Product Image Start */
.row.obd-preorder-bx-product-pro-pg-img-ex-pd .col-md-3 {
    padding: 0px;
}
.row.obd-preorder-bx-product-pro-pg-img-ex-pd .col-md-2 {
    padding: 0px;
}
.obd-preorder-bx-product-pro-pg-img-sec img {
    width: 100%;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    height: 57px;
}
.obd-preorder-bx-product-pro-pg-img-contnt a {
    color: #023e83;
    text-decoration: none;
}
.obd-preorder-bx-product-pro-pg-img-contnt a:hover {
    color: #0257b7;
    transition: .3s;
}
.obd-preorder-bx-product-pro-pg-img-contnt p {
    margin: 0px;
    margin-top: 1px;
}
.obd-preorder-bx-product-pro-pg-img-contnt-txt {
    margin-top: 5px;
}
.obd-preorder-bx-product-pro-pg-img-contnt p span {
    color: #696969;
    font-weight: 500;
    margin-left: 4px;
}
/* Product Image End */
/* Pending start */
.obd-recent-order-bx-product-and-payment-stts-pendng button {
    border: none;
    background-color: #FF8950;
    color: #fff;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 2px 9px 2px 9px;
}
.obd-recent-order-bx-product-and-payment-stts-pendng button:hover {
    background-color: #fd6f2c;
    transition: .2s;
}
/* Pending end */

/* Delivered start */
.obd-recent-order-bx-product-and-payment-stts-deliverd button {
    border: none;
    background-color: #52E378;
    color: #fff;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 2px 9px 2px 9px;
}
.obd-recent-order-bx-product-and-payment-stts-deliverd button:hover {
    background-color: #19f353;
    transition: .2s;
}
/* Delivered end */
/* Cancelled start */
.obd-preorder-bx-product-pro-pg-and-payment-stts-cancelld button {
    border: none;
    background-color: #FD5454;
    color: #fff;
    border-radius: 15px;
    border-top-left-radius: 0px;
    padding: 2px 9px 2px 9px;
}
.obd-preorder-bx-product-pro-pg-and-payment-stts-cancelld button:hover {
    background-color: #fd4040;
    transition: .2s;
}
/* Cancelled end */

/* Table Box End ------------*/