.obd-pre-order-product-details-main-sec {
    margin-top: 67px;
}
.obd-pre-order-product-details-bg-wrap-bx {
    background: #fff;
    border-radius: 7px;
    padding: 70px;
    margin-top: 15px;
}
/* Main Product Image Start */
.obd-pre-order-product-details-prod-main-img img {
    width: 100%;
    height: 412px;
    border-radius: 6px;
}
.obd-pre-order-product-details-prod-sm-img {
    margin-top: 15px;
}
.obd-pre-order-product-details-prod-sm-img ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.obd-pre-order-product-details-prod-sm-img ul li {
    display: inline-block;
    margin-right: 8px;
}
.obd-pre-order-product-details-prod-sm-img ul li img {
    width: 55px;
    height: 55px;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    padding: 2px;
    margin-bottom: 6px;
}
.obd-pre-order-product-details-prod-sm-img ul li img:hover {
    border-color: tomato;
    transition: .3s;
}
/* Main Product Image End */

/* Product Content Text Part Start */
.obd-pre-order-product-details-prod-content-bx {
    margin-top: 0px;
    padding-left: 40px;
    padding-right: 16px;
}
.obd-pre-order-product-details-prod-content-bx h4 {
    font-size: 28px;
    font-weight: 500;
    color: #3c3d42;
    margin-bottom: 10px;
    line-height: 40px;
}
.obd-pre-order-product-details-prod-content-bx p {
    color: #6f6d6d;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 22px;
}
.obd-pre-order-product-details-prod-content-bx p span {
    font-size: 16px;
    margin-left: 8px;
    color: #b5b5b5;
}

/* Short Desc */
.obd-pre-order-product-details-prod-content-buy-nw {
    margin-top: 30px;
}
.obd-pre-order-product-details-prod-short-desc {
    border: 1px solid #f1f1f1;
    margin-left: 40px;
    padding: 10px;
    border-radius: 6px;
    height: 170px;
}
.obd-pre-order-product-details-prod-short-desc p {
    font-size: 13px;
    color: #979797;
    margin-bottom: 6px;
}
/* Short Desc */

/* Buy Now And Add To Cart Start */
.obd-pre-order-product-details-prod-content-buy-nw {
    margin-top: 34px;
}
.obd-pre-order-product-details-prod-content-buy-nw a {
    position: relative;
    background-color: tomato;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    padding: 12px 90px 12px 90px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.obd-pre-order-product-details-prod-content-buy-nw a:hover {
    background-color: #ff3713;
    transition: .3s;
}
.obd-pre-order-product-details-prod-content-buy-nw a span {
    position: absolute;
    right: 22px;
    top: 11px;
}
/* Buy Now And Add To Cart End */

/* Product Content Text Part End */